* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(#511887, #1c0d49);
  overflow: hidden;
}
div {
  position: absolute;
  top: 94%;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.sun {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: -4px 2px 56px #f9c05f;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mercurytrue {
  height: 30px;
  width: 30px;
  background: red;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #f9c05f;
  left: 42%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit0 5s linear infinite;
}

@keyframes orbit0 {
  from {
    transform: rotate(0deg) translatex(-100px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(-100px) rotate(-180deg);
  }
}
.mercuryfalse {
  height: 30px;
  width: 30px;
  background: red;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #f9c05f;
  left: 42%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit1 5s linear infinite;
}
@keyframes orbit1 {
  from {
    transform: rotate(0deg) translatex(100px) rotate(0deg);
  }
  to {
    transform: rotate(-180deg) translatex(100px) rotate(180deg);
  }
}
p {
  color: white;
  font-family: system-ui;
  position: absolute;
  left: -62px;
  top: -11px;
}
.mercury-outline,
.venus-outline-1,
.earth-outline-1,
.mars-outline-1,
.jupiter-outline-1,
.saturn-outline-1,
.uranus-outline-1,
.neptune-outline-1 {
  border-radius: 50%;
  border: 1px dotted #ddd9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mercury-outline {
  height: 200px;
  width: 200px;
  border: 1px solid rgb(197, 183, 183);
}
.venustrue {
  height: 40px;
  width: 40px;
  background-color: #a36f13;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #a36f13;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit2 5s linear infinite;
}
.venusfalse {
  height: 40px;
  width: 40px;
  background-color: #a36f13;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #a36f13;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit3 5s linear infinite;
}
@keyframes orbit2 {
  from {
    transform: rotate(0deg) translatex(195px) rotate(0deg);
  }
  to {
    transform: rotate(-180deg) translatex(195px) rotate(180deg);
  }
}
@keyframes orbit3 {
  from {
    transform: rotate(0deg) translatex(-195px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(-195px) rotate(-180deg);
  }
}
.venus-outline-1 {
  height: 380px;
  width: 380px;
  border: 1px solid rgb(197, 183, 183);
}

.earthtrue {
  height: 50px;
  width: 50px;
  background-color: green;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #2855d6;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit4 5s linear infinite;
}
@keyframes orbit4 {
  from {
    transform: rotate(0deg) translatex(-250px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(-250px) rotate(-180deg);
  }
}
.earthfalse {
  height: 50px;
  width: 50px;
  background-color: green;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #2855d6;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit5 5s linear infinite;
}
@keyframes orbit5 {
  from {
    transform: rotate(0deg) translatex(250px) rotate(0deg);
  }
  to {
    transform: rotate(-180deg) translatex(250px) rotate(180deg);
  }
}

.earth-outline-1 {
  height: 520px;
  width: 520px;
  border: 1px solid rgb(197, 183, 183);
}

.marstrue {
  height: 40px;
  width: 40px;
  background-color: rgb(211, 15, 15);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #ca0505;
  left: 47%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit6 5s linear infinite;
}
@keyframes orbit6 {
  from {
    transform: rotate(0deg) translatex(335px) rotate(0deg);
  }
  to {
    transform: rotate(-180deg) translatex(335px) rotate(180deg);
  }
}
.marsfalse {
  height: 40px;
  width: 40px;
  background-color: rgb(211, 15, 15);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #ca0505;
  left: 47%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit7 5s linear infinite;
}
@keyframes orbit7 {
  from {
    transform: rotate(0deg) translatex(-335px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(-335px) rotate(-180deg);
  }
}
.mars-outline-1 {
  height: 680px;
  width: 680px;
  border: 1px solid rgb(197, 183, 183);
}

.jupitertrue {
  height: 40px;
  width: 40px;
  background-color: #5a3c0a;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #cac2b9;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit8 5s linear infinite;
}
@keyframes orbit8 {
  from {
    transform: rotate(0deg) translatex(-410px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(-410px) rotate(-180deg);
  }
}
.jupiterfalse {
  height: 40px;
  width: 40px;
  background-color: #5a3c0a;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #cac2b9;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit9 5s linear infinite;
}
@keyframes orbit9 {
  from {
    transform: rotate(0deg) translatex(410px) rotate(0deg);
  }
  to {
    transform: rotate(-180deg) translatex(410px) rotate(180deg);
  }
}
.jupiter-outline-1 {
  height: 820px;
  width: 820px;
  border: 1px solid rgb(197, 183, 183);
}

/* .saturn {
  height: 60px;
  width: 60px;
  background-image: url(7.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit9 90s linear infinite;
}
@keyframes orbit9 {
  from {
    transform: rotate(0deg) translatex(250px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(250px) rotate(-180deg);
  }
}
.saturn-outline-1 {
  height: 500px;
  width: 500px;
}

.uranus {
  height: 50px;
  width: 50px;
  background-image: url(9.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;

  left: 38%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit10 200s linear infinite;
}
@keyframes orbit10 {
  from {
    transform: rotate(0deg) translatex(280px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(280px) rotate(-180deg);
  }
}
.uranus-outline-1 {
  height: 560px;
  width: 560px;
}

.neptune {
  height: 40px;
  width: 40px;
  background-image: url(6.png);
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: -4px 2px 56px #9581c1;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit11 400s linear infinite;
}
@keyframes orbit11 {
  from {
    transform: rotate(0deg) translatex(310px) rotate(0deg);
  }
  to {
    transform: rotate(180deg) translatex(310px) rotate(-180deg);
  }
}
.neptune-outline-1 {
  height: 620px;
  width: 620px;
} */
